@import "~styles/util.styl"

.template-category-index
  h2
    color #fff
    font-size 3rem
    margin 0 auto
    padding 40px 30px 50px
    height 174px
    max-width 960px
    box-sizing border-box
