@import "~styles/util"

.template-post
  max-width 660px
  margin 0 auto

  .title
    box-sizing border-box
    margin 130px auto 20px
    max-width 960px
    color #fff
    font-size 3rem
    font-weight 700

    .category
      font-size 0.8rem
      cursor pointer

  .time
    margin-bottom 10px

  .info
    margin-bottom 40px

    &::after
      content ''
      display table
      clear both

    .time-to-read
      padding 4px 10px
      float left
      font-size 1.4rem
      background-color color-bg-light
      border-right 0.5px solid color-bg
      border-top-left-radius 2px
      border-bottom-left-radius 2px
      &::after
        margin-left 5px
        content 'min'

    .words-count
      padding 4px 10px
      float left
      font-size 1.4rem
      background-color color-bg-light
      border-top-right-radius 2px
      border-bottom-right-radius 2px
      &::after
        margin-left 5px
        content 'words'

  .tags
    text-align center

    .tag
      margin 0 20px 50px
      padding 8px 40px
      display inline-block
      font-size 1.6rem
      border-radius 8px
      border 2px solid color-bg-light
      cursor pointer
      &:hover
        background-color color-bg-light

  .reward
    margin-bottom 50px
    text-align center

    .reward-image
      margin-bottom 10px
      width 64px
      height 64px
      cursor pointer

    .pay-list
      display flex
      flex-direction row
      justify-content center

      .pay
        position relative
        padding 10px 40px
        line-height 20px
        color: color-text-white
        cursor pointer
        &::after
          content ''
          display table
          clear bottom

        img
          margin-right 10px
          float left
          width 20px
          height 20px

      .pay-zhifubao
        background-color #1daaee

      .pay-weixin
        background-color #46ae3d

  .navigator-list
    display flex
    flex-direction row
    justify-content space-between
    height 150px

    .navigator-item
      position relative
      flex: 1

      .cover
        width 100%
        height 100%
        background-size cover
        background-position 50% 50%

      .content
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        cursor pointer
        color #fff
        background-color rgba(18, 39, 72, 1)
        transition all .2s ease-in-out
        &:hover
          background-color rgba(18, 39, 72, 0.3)

        .wbi
          font-size 24px

        .tip
          color color-text-secondary

    .navigator-item--prev
      border-right 1px solid color-bg

      .wbi
        margin-top -12px
        position absolute
        top 50%
        left 15px

      .tip
        position absolute
        top 30px
        left 60px

      .title
        margin 0
        position absolute
        top 60px
        left 60px
        right 20px
        font-size 2.4rem
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

    .navigator-item--next
      border-right 1px solid color-bg

      .wbi
        margin-top -12px
        position absolute
        top 50%
        right 15px

      .tip
        position absolute
        top 30px
        right 60px

      .title
        margin 0
        position absolute
        top 60px
        right 60px
        left 20px
        font-size 2.4rem
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        text-align right

  .content
    margin 0 auto

    .typograph
      position relative
      text-align justify

      h2, h3, h4, h5, h6
        &::before
          margin-right 10px
          content: '#'
          font-size 1.2em
          color color-pink

      h2
        font-size 2.5rem

      h3
        font-size 2rem

      h4
        font-size 1.8rem

      h5, h6
        font-size 1.6rem

      h6
        font-weight 400

      p
        margin-bottom 50px
        font-size 1.6rem
        line-height 2.8rem

      ol, ul
        margin 0 0 50px 2rem
        font-size 1.6rem
        line-height 2rem

        li
          margin-bottom 10px

      pre
        margin-bottom 50px
        padding 15px
        box-sizing border-box
        border-radius 4px
        overflow auto
        font-size 1.6rem
        background-color color-bg-light

        code
          color color-text

      code
        margin 0 4px
        padding 3px 6px
        font-size 0.875em
        color color-pink
        background-color color-bg-light
        border-radius 4px
        font-family Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace

      strong, b
        font-weight 700
        color color-pink


+below(600px)
  .template-post
    padding 0 15px

    .navigator-list
      flex-wrap wrap
      height 300px

      .navigator-item
        width 100%
        flex auto


.modal--reward
  img
    margin auto 10%
    width 80%
