# Operating System
.DS_Store

# Editor
.vscode/
.idea/
.nova/
.graphqlconfig

# Node.js
node_modules/

# Yarn@2
.yarn/

# TypeScript
lib/

# Unisite
.unisite/

# Gatsby
.cache/
public/

# Logs
*.log

# taskpaper
*.taskpaper

# env
*.local
