# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

# npm & yarn
node_modules
.cache/
npm-error.log
yarn-error.log

# Build directory
public/
.DS_Store

# editor
.idea
.code
