@import "~styles/util"

.btn
  padding 10px 40px
  font-size: 1.1rem
  font-weight 700
  letter-spacing 0.6rem
  color #fff
  outline none
  border 2px solid
  background-color transparent
  cursor pointer
  transition all .2s ease-in-out


.btn.btn-type--circle
  border-radius 20px


.btn.btn-color--primary
  color color-primary

  &:hover
    color #fff
    border-color color-primary
    background-color color-primary


.btn.btn-color--green
  color color-green

  &:hover
    color #fff
    border-color color-green
    background-color color-green


.btn.btn-color--pink
  color color-pink

  &:hover
    color #fff
    border-color color-pink
    background-color color-pink


.btn.btn-color--purple
  color color-purple

  &:hover
    color #fff
    border-color color-purple
    background-color color-purple


.btn.btn-color--blue
  color color-blue

  &:hover
    color #fff
    border-color color-blue
    background-color color-blue
