@import "~styles/util.styl"

.page-404
  h2
    color #fff
    font-size 3rem
    margin 0 auto
    padding 40px 30px 50px
    height 174px
    max-width 960px
    box-sizing border-box

  .wrapper
    margin 0 30px
    .cls-1
      fill color-text
    .cls-2
      fill darken(color-text-secondary, 20%)
    .cls-3
      fill color-text-secondary
    .cls-4
      fill color-text
    .cls-5
      fill darken(color-text, 10%)
    .cls-6,
    .cls-7,
    .cls-8
     fill darken(color-text, 20%)
    .cls-9,
    .cls-10,
    .cls-11,
    .cls-12,
    .cls-13,
    .cls-4
      fill saturate(color-text, 10%)
    .cls-10,
    .cls-6
      opacity 0.6
    .cls-7
      opacity 0.4
