@import "~styles/_variable.styl"

.page-index
  .section-cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    transform translate(0, 0)
    transition transform .7s cubic-bezier(.825,0,.5,1)

    .fullscreen
      position absolute
      top 0
      left 0
      right 0
      bottom 45px
      &::before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color rgba(color-bg, 0.3)

    .fullscreen-by
      padding 10px 25px
      position absolute
      right 0
      bottom 45px

      a
        font-style italic
        color #fff
        font-weight 700

    .more-btn
      position absolute
      left 0
      right 0
      bottom 0
      height 45px
      line-height 45px
      text-align center

      .wbi
        position relative
        animation FloatAnimation .8s infinite alternate

@keyframes FloatAnimation {
  from {
    top -6px
  }
  to {
    top 6px
  }
}
