@import "~styles/util.styl"

.page-resume
  h2
    color #fff
    font-size 3rem
    margin 0 auto
    padding 40px 30px 50px
    height 174px
    max-width 960px
    box-sizing border-box

  .resume
    display flex
    flex-direction row

    h3.title
      padding 0.4em 0.8em
      font-size 1.6em
      background-color color-bg-light

  +below(600px)
    .resume
      display block


.page-resume
  .left
    margin 0 30px 2em
    flex 1
    .avatar-section
      margin-bottom 30px
      display flex
      flex-direction row
      justify-content center
      img
        display block
        width 100px
        height 100px
        border-radius 50px

    .contact-section
      margin-bottom 2em
      padding-bottom 0.6em
      color color-text-white
      background-color color-bg-light
      .contact-item
        padding 0 0.8em 0.2em

    .application-section
      padding-bottom 0.6em
      color color-text-white
      background-color color-bg-light
      .application
        padding 0 0.8em 0.2em


.page-resume
  .right
    margin 0 30px 2em
    flex 2

    .section
      margin-bottom 2em

    .basic-section
      padding 0 1em
      .info-item
        margin 0.2em 0
      span
        margin-right 10px
        display inline-block
        width 100px
        font-size 1.2em
        font-weight bolder
        text-align right
