// Wibicons Icons
// --------------------------

.wibicons,
.{wibicons-prefix}activity:before,
.{wibicons-prefix}airplay:before,
.{wibicons-prefix}alert-circle:before,
.{wibicons-prefix}alert-octagon:before,
.{wibicons-prefix}alert-triangle:before,
.{wibicons-prefix}align-center:before,
.{wibicons-prefix}align-justify:before,
.{wibicons-prefix}align-left:before,
.{wibicons-prefix}align-right:before,
.{wibicons-prefix}anchor:before,
.{wibicons-prefix}aperture:before,
.{wibicons-prefix}arrow-down-left:before,
.{wibicons-prefix}arrow-down-right:before,
.{wibicons-prefix}arrow-down:before,
.{wibicons-prefix}arrow-left:before,
.{wibicons-prefix}arrow-right:before,
.{wibicons-prefix}arrow-up-left:before,
.{wibicons-prefix}arrow-up-right:before,
.{wibicons-prefix}arrow-up:before,
.{wibicons-prefix}at-sign:before,
.{wibicons-prefix}award:before,
.{wibicons-prefix}bar-chart-2:before,
.{wibicons-prefix}bar-chart:before,
.{wibicons-prefix}battery-charging:before,
.{wibicons-prefix}battery:before,
.{wibicons-prefix}bell-off:before,
.{wibicons-prefix}bell:before,
.{wibicons-prefix}bluetooth:before,
.{wibicons-prefix}bold:before,
.{wibicons-prefix}book:before,
.{wibicons-prefix}bookmark:before,
.{wibicons-prefix}box:before,
.{wibicons-prefix}briefcase:before,
.{wibicons-prefix}calendar:before,
.{wibicons-prefix}camera-off:before,
.{wibicons-prefix}camera:before,
.{wibicons-prefix}cast:before,
.{wibicons-prefix}check-circle:before,
.{wibicons-prefix}check-square:before,
.{wibicons-prefix}check:before,
.{wibicons-prefix}chevron-down:before,
.{wibicons-prefix}chevron-left:before,
.{wibicons-prefix}chevron-right:before,
.{wibicons-prefix}chevron-up:before,
.{wibicons-prefix}chevrons-down:before,
.{wibicons-prefix}chevrons-left:before,
.{wibicons-prefix}chevrons-right:before,
.{wibicons-prefix}chevrons-up:before,
.{wibicons-prefix}chrome:before,
.{wibicons-prefix}circle:before,
.{wibicons-prefix}clipboard:before,
.{wibicons-prefix}clock:before,
.{wibicons-prefix}cloud-drizzle:before,
.{wibicons-prefix}cloud-lightning:before,
.{wibicons-prefix}cloud-off:before,
.{wibicons-prefix}cloud-rain:before,
.{wibicons-prefix}cloud-snow:before,
.{wibicons-prefix}cloud:before,
.{wibicons-prefix}codepen:before,
.{wibicons-prefix}command:before,
.{wibicons-prefix}compass:before,
.{wibicons-prefix}copy:before,
.{wibicons-prefix}corner-down-left:before,
.{wibicons-prefix}corner-down-right:before,
.{wibicons-prefix}corner-left-down:before,
.{wibicons-prefix}corner-left-up:before,
.{wibicons-prefix}corner-right-down:before,
.{wibicons-prefix}corner-right-up:before,
.{wibicons-prefix}corner-up-left:before,
.{wibicons-prefix}corner-up-right:before,
.{wibicons-prefix}cpu:before,
.{wibicons-prefix}credit-card:before,
.{wibicons-prefix}crop:before,
.{wibicons-prefix}crosshair:before,
.{wibicons-prefix}delete:before,
.{wibicons-prefix}disc:before,
.{wibicons-prefix}download-cloud:before,
.{wibicons-prefix}download:before,
.{wibicons-prefix}droplet:before,
.{wibicons-prefix}edit-2:before,
.{wibicons-prefix}edit-3:before,
.{wibicons-prefix}edit:before,
.{wibicons-prefix}external-link:before,
.{wibicons-prefix}eye-off:before,
.{wibicons-prefix}eye:before,
.{wibicons-prefix}facebook:before,
.{wibicons-prefix}fast-forward:before,
.{wibicons-prefix}feather:before,
.{wibicons-prefix}file-minus:before,
.{wibicons-prefix}file-plus:before,
.{wibicons-prefix}file-text:before,
.{wibicons-prefix}file:before,
.{wibicons-prefix}film:before,
.{wibicons-prefix}filter:before,
.{wibicons-prefix}flag:before,
.{wibicons-prefix}folder:before,
.{wibicons-prefix}github:before,
.{wibicons-prefix}gitlab:before,
.{wibicons-prefix}globe:before,
.{wibicons-prefix}grid:before,
.{wibicons-prefix}hash:before,
.{wibicons-prefix}headphones:before,
.{wibicons-prefix}heart:before,
.{wibicons-prefix}help-circle:before,
.{wibicons-prefix}home:before,
.{wibicons-prefix}image:before,
.{wibicons-prefix}inbox:before,
.{wibicons-prefix}info:before,
.{wibicons-prefix}instagram:before,
.{wibicons-prefix}italic:before,
.{wibicons-prefix}layers:before,
.{wibicons-prefix}layout:before,
.{wibicons-prefix}life-buoy:before,
.{wibicons-prefix}link-2:before,
.{wibicons-prefix}link:before,
.{wibicons-prefix}list:before,
.{wibicons-prefix}loader:before,
.{wibicons-prefix}lock:before,
.{wibicons-prefix}log-in:before,
.{wibicons-prefix}log-out:before,
.{wibicons-prefix}mail:before,
.{wibicons-prefix}map-pin:before,
.{wibicons-prefix}map:before,
.{wibicons-prefix}maximize-2:before,
.{wibicons-prefix}maximize:before,
.{wibicons-prefix}menu:before,
.{wibicons-prefix}message-circle:before,
.{wibicons-prefix}message-square:before,
.{wibicons-prefix}mic-off:before,
.{wibicons-prefix}mic:before,
.{wibicons-prefix}minimize-2:before,
.{wibicons-prefix}minimize:before,
.{wibicons-prefix}minus-circle:before,
.{wibicons-prefix}minus-square:before,
.{wibicons-prefix}minus:before,
.{wibicons-prefix}monitor:before,
.{wibicons-prefix}moon:before,
.{wibicons-prefix}more-horizontal:before,
.{wibicons-prefix}more-vertical:before,
.{wibicons-prefix}move:before,
.{wibicons-prefix}music:before,
.{wibicons-prefix}navigation-2:before,
.{wibicons-prefix}navigation:before,
.{wibicons-prefix}octagon:before,
.{wibicons-prefix}package:before,
.{wibicons-prefix}paperclip:before,
.{wibicons-prefix}pause-circle:before,
.{wibicons-prefix}pause:before,
.{wibicons-prefix}percent:before,
.{wibicons-prefix}phone-call:before,
.{wibicons-prefix}phone-forwarded:before,
.{wibicons-prefix}phone-incoming:before,
.{wibicons-prefix}phone-missed:before,
.{wibicons-prefix}phone-off:before,
.{wibicons-prefix}phone-outgoing:before,
.{wibicons-prefix}phone:before,
.{wibicons-prefix}pie-chart:before,
.{wibicons-prefix}play-circle:before,
.{wibicons-prefix}play:before,
.{wibicons-prefix}plus-circle:before,
.{wibicons-prefix}plus-square:before,
.{wibicons-prefix}plus:before,
.{wibicons-prefix}pocket:before,
.{wibicons-prefix}power:before,
.{wibicons-prefix}printer:before,
.{wibicons-prefix}radio:before,
.{wibicons-prefix}refresh-ccw:before,
.{wibicons-prefix}refresh-cw:before,
.{wibicons-prefix}repeat:before,
.{wibicons-prefix}rewind:before,
.{wibicons-prefix}rotate-ccw:before,
.{wibicons-prefix}rotate-cw:before,
.{wibicons-prefix}save:before,
.{wibicons-prefix}scissors:before,
.{wibicons-prefix}search:before,
.{wibicons-prefix}server:before,
.{wibicons-prefix}settings:before,
.{wibicons-prefix}share-2:before,
.{wibicons-prefix}share:before,
.{wibicons-prefix}shield:before,
.{wibicons-prefix}shopping-cart:before,
.{wibicons-prefix}shuffle:before,
.{wibicons-prefix}sidebar:before,
.{wibicons-prefix}skip-back:before,
.{wibicons-prefix}skip-forward:before,
.{wibicons-prefix}slack:before,
.{wibicons-prefix}slash:before,
.{wibicons-prefix}sliders:before,
.{wibicons-prefix}smartphone:before,
.{wibicons-prefix}speaker:before,
.{wibicons-prefix}square:before,
.{wibicons-prefix}star:before,
.{wibicons-prefix}stop-circle:before,
.{wibicons-prefix}sun:before,
.{wibicons-prefix}sunrise:before,
.{wibicons-prefix}sunset:before,
.{wibicons-prefix}tablet:before,
.{wibicons-prefix}tag:before,
.{wibicons-prefix}target:before,
.{wibicons-prefix}thermometer:before,
.{wibicons-prefix}thumbs-down:before,
.{wibicons-prefix}thumbs-up:before,
.{wibicons-prefix}toggle-left:before,
.{wibicons-prefix}toggle-right:before,
.{wibicons-prefix}trash-2:before,
.{wibicons-prefix}trash:before,
.{wibicons-prefix}trending-down:before,
.{wibicons-prefix}trending-up:before,
.{wibicons-prefix}triangle:before,
.{wibicons-prefix}tv:before,
.{wibicons-prefix}twitter:before,
.{wibicons-prefix}type:before,
.{wibicons-prefix}umbrella:before,
.{wibicons-prefix}underline:before,
.{wibicons-prefix}unlock:before,
.{wibicons-prefix}upload-cloud:before,
.{wibicons-prefix}upload:before,
.{wibicons-prefix}user-check:before,
.{wibicons-prefix}user-minus:before,
.{wibicons-prefix}user-plus:before,
.{wibicons-prefix}user-x:before,
.{wibicons-prefix}user:before,
.{wibicons-prefix}users:before,
.{wibicons-prefix}video-off:before,
.{wibicons-prefix}video:before,
.{wibicons-prefix}voicemail:before,
.{wibicons-prefix}volume-1:before,
.{wibicons-prefix}volume-2:before,
.{wibicons-prefix}volume-x:before,
.{wibicons-prefix}volume:before,
.{wibicons-prefix}watch:before,
.{wibicons-prefix}wifi-off:before,
.{wibicons-prefix}wifi:before,
.{wibicons-prefix}wind:before,
.{wibicons-prefix}x-circle:before,
.{wibicons-prefix}x-square:before,
.{wibicons-prefix}x:before,
.{wibicons-prefix}zap:before,
.{wibicons-prefix}zoom-in:before,
.{wibicons-prefix}zoom-out:before
  @extend .wbi
.{wibicons-prefix}activity:before
  content wibicon-var-activity


.{wibicons-prefix}airplay:before
  content wibicon-var-airplay


.{wibicons-prefix}alert-circle:before
  content wibicon-var-alert-circle


.{wibicons-prefix}alert-octagon:before
  content wibicon-var-alert-octagon


.{wibicons-prefix}alert-triangle:before
  content wibicon-var-alert-triangle


.{wibicons-prefix}align-center:before
  content wibicon-var-align-center


.{wibicons-prefix}align-justify:before
  content wibicon-var-align-justify


.{wibicons-prefix}align-left:before
  content wibicon-var-align-left


.{wibicons-prefix}align-right:before
  content wibicon-var-align-right


.{wibicons-prefix}anchor:before
  content wibicon-var-anchor


.{wibicons-prefix}aperture:before
  content wibicon-var-aperture


.{wibicons-prefix}arrow-down-left:before
  content wibicon-var-arrow-down-left


.{wibicons-prefix}arrow-down-right:before
  content wibicon-var-arrow-down-right


.{wibicons-prefix}arrow-down:before
  content wibicon-var-arrow-down


.{wibicons-prefix}arrow-left:before
  content wibicon-var-arrow-left


.{wibicons-prefix}arrow-right:before
  content wibicon-var-arrow-right


.{wibicons-prefix}arrow-up-left:before
  content wibicon-var-arrow-up-left


.{wibicons-prefix}arrow-up-right:before
  content wibicon-var-arrow-up-right


.{wibicons-prefix}arrow-up:before
  content wibicon-var-arrow-up


.{wibicons-prefix}at-sign:before
  content wibicon-var-at-sign


.{wibicons-prefix}award:before
  content wibicon-var-award


.{wibicons-prefix}bar-chart-2:before
  content wibicon-var-bar-chart-2


.{wibicons-prefix}bar-chart:before
  content wibicon-var-bar-chart


.{wibicons-prefix}battery-charging:before
  content wibicon-var-battery-charging


.{wibicons-prefix}battery:before
  content wibicon-var-battery


.{wibicons-prefix}bell-off:before
  content wibicon-var-bell-off


.{wibicons-prefix}bell:before
  content wibicon-var-bell


.{wibicons-prefix}bluetooth:before
  content wibicon-var-bluetooth


.{wibicons-prefix}bold:before
  content wibicon-var-bold


.{wibicons-prefix}book:before
  content wibicon-var-book


.{wibicons-prefix}bookmark:before
  content wibicon-var-bookmark


.{wibicons-prefix}box:before
  content wibicon-var-box


.{wibicons-prefix}briefcase:before
  content wibicon-var-briefcase


.{wibicons-prefix}calendar:before
  content wibicon-var-calendar


.{wibicons-prefix}camera-off:before
  content wibicon-var-camera-off


.{wibicons-prefix}camera:before
  content wibicon-var-camera


.{wibicons-prefix}cast:before
  content wibicon-var-cast


.{wibicons-prefix}check-circle:before
  content wibicon-var-check-circle


.{wibicons-prefix}check-square:before
  content wibicon-var-check-square


.{wibicons-prefix}check:before
  content wibicon-var-check


.{wibicons-prefix}chevron-down:before
  content wibicon-var-chevron-down


.{wibicons-prefix}chevron-left:before
  content wibicon-var-chevron-left


.{wibicons-prefix}chevron-right:before
  content wibicon-var-chevron-right


.{wibicons-prefix}chevron-up:before
  content wibicon-var-chevron-up


.{wibicons-prefix}chevrons-down:before
  content wibicon-var-chevrons-down


.{wibicons-prefix}chevrons-left:before
  content wibicon-var-chevrons-left


.{wibicons-prefix}chevrons-right:before
  content wibicon-var-chevrons-right


.{wibicons-prefix}chevrons-up:before
  content wibicon-var-chevrons-up


.{wibicons-prefix}chrome:before
  content wibicon-var-chrome


.{wibicons-prefix}circle:before
  content wibicon-var-circle


.{wibicons-prefix}clipboard:before
  content wibicon-var-clipboard


.{wibicons-prefix}clock:before
  content wibicon-var-clock


.{wibicons-prefix}cloud-drizzle:before
  content wibicon-var-cloud-drizzle


.{wibicons-prefix}cloud-lightning:before
  content wibicon-var-cloud-lightning


.{wibicons-prefix}cloud-off:before
  content wibicon-var-cloud-off


.{wibicons-prefix}cloud-rain:before
  content wibicon-var-cloud-rain


.{wibicons-prefix}cloud-snow:before
  content wibicon-var-cloud-snow


.{wibicons-prefix}cloud:before
  content wibicon-var-cloud


.{wibicons-prefix}codepen:before
  content wibicon-var-codepen


.{wibicons-prefix}command:before
  content wibicon-var-command


.{wibicons-prefix}compass:before
  content wibicon-var-compass


.{wibicons-prefix}copy:before
  content wibicon-var-copy


.{wibicons-prefix}corner-down-left:before
  content wibicon-var-corner-down-left


.{wibicons-prefix}corner-down-right:before
  content wibicon-var-corner-down-right


.{wibicons-prefix}corner-left-down:before
  content wibicon-var-corner-left-down


.{wibicons-prefix}corner-left-up:before
  content wibicon-var-corner-left-up


.{wibicons-prefix}corner-right-down:before
  content wibicon-var-corner-right-down


.{wibicons-prefix}corner-right-up:before
  content wibicon-var-corner-right-up


.{wibicons-prefix}corner-up-left:before
  content wibicon-var-corner-up-left


.{wibicons-prefix}corner-up-right:before
  content wibicon-var-corner-up-right


.{wibicons-prefix}cpu:before
  content wibicon-var-cpu


.{wibicons-prefix}credit-card:before
  content wibicon-var-credit-card


.{wibicons-prefix}crop:before
  content wibicon-var-crop


.{wibicons-prefix}crosshair:before
  content wibicon-var-crosshair


.{wibicons-prefix}delete:before
  content wibicon-var-delete


.{wibicons-prefix}disc:before
  content wibicon-var-disc


.{wibicons-prefix}download-cloud:before
  content wibicon-var-download-cloud


.{wibicons-prefix}download:before
  content wibicon-var-download


.{wibicons-prefix}droplet:before
  content wibicon-var-droplet


.{wibicons-prefix}edit-2:before
  content wibicon-var-edit-2


.{wibicons-prefix}edit-3:before
  content wibicon-var-edit-3


.{wibicons-prefix}edit:before
  content wibicon-var-edit


.{wibicons-prefix}external-link:before
  content wibicon-var-external-link


.{wibicons-prefix}eye-off:before
  content wibicon-var-eye-off


.{wibicons-prefix}eye:before
  content wibicon-var-eye


.{wibicons-prefix}facebook:before
  content wibicon-var-facebook


.{wibicons-prefix}fast-forward:before
  content wibicon-var-fast-forward


.{wibicons-prefix}feather:before
  content wibicon-var-feather


.{wibicons-prefix}file-minus:before
  content wibicon-var-file-minus


.{wibicons-prefix}file-plus:before
  content wibicon-var-file-plus


.{wibicons-prefix}file-text:before
  content wibicon-var-file-text


.{wibicons-prefix}file:before
  content wibicon-var-file


.{wibicons-prefix}film:before
  content wibicon-var-film


.{wibicons-prefix}filter:before
  content wibicon-var-filter


.{wibicons-prefix}flag:before
  content wibicon-var-flag


.{wibicons-prefix}folder:before
  content wibicon-var-folder


.{wibicons-prefix}github:before
  content wibicon-var-github


.{wibicons-prefix}gitlab:before
  content wibicon-var-gitlab


.{wibicons-prefix}globe:before
  content wibicon-var-globe


.{wibicons-prefix}grid:before
  content wibicon-var-grid


.{wibicons-prefix}hash:before
  content wibicon-var-hash


.{wibicons-prefix}headphones:before
  content wibicon-var-headphones


.{wibicons-prefix}heart:before
  content wibicon-var-heart


.{wibicons-prefix}help-circle:before
  content wibicon-var-help-circle


.{wibicons-prefix}home:before
  content wibicon-var-home


.{wibicons-prefix}image:before
  content wibicon-var-image


.{wibicons-prefix}inbox:before
  content wibicon-var-inbox


.{wibicons-prefix}info:before
  content wibicon-var-info


.{wibicons-prefix}instagram:before
  content wibicon-var-instagram


.{wibicons-prefix}italic:before
  content wibicon-var-italic


.{wibicons-prefix}layers:before
  content wibicon-var-layers


.{wibicons-prefix}layout:before
  content wibicon-var-layout


.{wibicons-prefix}life-buoy:before
  content wibicon-var-life-buoy


.{wibicons-prefix}link-2:before
  content wibicon-var-link-2


.{wibicons-prefix}link:before
  content wibicon-var-link


.{wibicons-prefix}list:before
  content wibicon-var-list


.{wibicons-prefix}loader:before
  content wibicon-var-loader


.{wibicons-prefix}lock:before
  content wibicon-var-lock


.{wibicons-prefix}log-in:before
  content wibicon-var-log-in


.{wibicons-prefix}log-out:before
  content wibicon-var-log-out


.{wibicons-prefix}mail:before
  content wibicon-var-mail


.{wibicons-prefix}map-pin:before
  content wibicon-var-map-pin


.{wibicons-prefix}map:before
  content wibicon-var-map


.{wibicons-prefix}maximize-2:before
  content wibicon-var-maximize-2


.{wibicons-prefix}maximize:before
  content wibicon-var-maximize


.{wibicons-prefix}menu:before
  content wibicon-var-menu


.{wibicons-prefix}message-circle:before
  content wibicon-var-message-circle


.{wibicons-prefix}message-square:before
  content wibicon-var-message-square


.{wibicons-prefix}mic-off:before
  content wibicon-var-mic-off


.{wibicons-prefix}mic:before
  content wibicon-var-mic


.{wibicons-prefix}minimize-2:before
  content wibicon-var-minimize-2


.{wibicons-prefix}minimize:before
  content wibicon-var-minimize


.{wibicons-prefix}minus-circle:before
  content wibicon-var-minus-circle


.{wibicons-prefix}minus-square:before
  content wibicon-var-minus-square


.{wibicons-prefix}minus:before
  content wibicon-var-minus


.{wibicons-prefix}monitor:before
  content wibicon-var-monitor


.{wibicons-prefix}moon:before
  content wibicon-var-moon


.{wibicons-prefix}more-horizontal:before
  content wibicon-var-more-horizontal


.{wibicons-prefix}more-vertical:before
  content wibicon-var-more-vertical


.{wibicons-prefix}move:before
  content wibicon-var-move


.{wibicons-prefix}music:before
  content wibicon-var-music


.{wibicons-prefix}navigation-2:before
  content wibicon-var-navigation-2


.{wibicons-prefix}navigation:before
  content wibicon-var-navigation


.{wibicons-prefix}octagon:before
  content wibicon-var-octagon


.{wibicons-prefix}package:before
  content wibicon-var-package


.{wibicons-prefix}paperclip:before
  content wibicon-var-paperclip


.{wibicons-prefix}pause-circle:before
  content wibicon-var-pause-circle


.{wibicons-prefix}pause:before
  content wibicon-var-pause


.{wibicons-prefix}percent:before
  content wibicon-var-percent


.{wibicons-prefix}phone-call:before
  content wibicon-var-phone-call


.{wibicons-prefix}phone-forwarded:before
  content wibicon-var-phone-forwarded


.{wibicons-prefix}phone-incoming:before
  content wibicon-var-phone-incoming


.{wibicons-prefix}phone-missed:before
  content wibicon-var-phone-missed


.{wibicons-prefix}phone-off:before
  content wibicon-var-phone-off


.{wibicons-prefix}phone-outgoing:before
  content wibicon-var-phone-outgoing


.{wibicons-prefix}phone:before
  content wibicon-var-phone


.{wibicons-prefix}pie-chart:before
  content wibicon-var-pie-chart


.{wibicons-prefix}play-circle:before
  content wibicon-var-play-circle


.{wibicons-prefix}play:before
  content wibicon-var-play


.{wibicons-prefix}plus-circle:before
  content wibicon-var-plus-circle


.{wibicons-prefix}plus-square:before
  content wibicon-var-plus-square


.{wibicons-prefix}plus:before
  content wibicon-var-plus


.{wibicons-prefix}pocket:before
  content wibicon-var-pocket


.{wibicons-prefix}power:before
  content wibicon-var-power


.{wibicons-prefix}printer:before
  content wibicon-var-printer


.{wibicons-prefix}radio:before
  content wibicon-var-radio


.{wibicons-prefix}refresh-ccw:before
  content wibicon-var-refresh-ccw


.{wibicons-prefix}refresh-cw:before
  content wibicon-var-refresh-cw


.{wibicons-prefix}repeat:before
  content wibicon-var-repeat


.{wibicons-prefix}rewind:before
  content wibicon-var-rewind


.{wibicons-prefix}rotate-ccw:before
  content wibicon-var-rotate-ccw


.{wibicons-prefix}rotate-cw:before
  content wibicon-var-rotate-cw


.{wibicons-prefix}save:before
  content wibicon-var-save


.{wibicons-prefix}scissors:before
  content wibicon-var-scissors


.{wibicons-prefix}search:before
  content wibicon-var-search


.{wibicons-prefix}server:before
  content wibicon-var-server


.{wibicons-prefix}settings:before
  content wibicon-var-settings


.{wibicons-prefix}share-2:before
  content wibicon-var-share-2


.{wibicons-prefix}share:before
  content wibicon-var-share


.{wibicons-prefix}shield:before
  content wibicon-var-shield


.{wibicons-prefix}shopping-cart:before
  content wibicon-var-shopping-cart


.{wibicons-prefix}shuffle:before
  content wibicon-var-shuffle


.{wibicons-prefix}sidebar:before
  content wibicon-var-sidebar


.{wibicons-prefix}skip-back:before
  content wibicon-var-skip-back


.{wibicons-prefix}skip-forward:before
  content wibicon-var-skip-forward


.{wibicons-prefix}slack:before
  content wibicon-var-slack


.{wibicons-prefix}slash:before
  content wibicon-var-slash


.{wibicons-prefix}sliders:before
  content wibicon-var-sliders


.{wibicons-prefix}smartphone:before
  content wibicon-var-smartphone


.{wibicons-prefix}speaker:before
  content wibicon-var-speaker


.{wibicons-prefix}square:before
  content wibicon-var-square


.{wibicons-prefix}star:before
  content wibicon-var-star


.{wibicons-prefix}stop-circle:before
  content wibicon-var-stop-circle


.{wibicons-prefix}sun:before
  content wibicon-var-sun


.{wibicons-prefix}sunrise:before
  content wibicon-var-sunrise


.{wibicons-prefix}sunset:before
  content wibicon-var-sunset


.{wibicons-prefix}tablet:before
  content wibicon-var-tablet


.{wibicons-prefix}tag:before
  content wibicon-var-tag


.{wibicons-prefix}target:before
  content wibicon-var-target


.{wibicons-prefix}thermometer:before
  content wibicon-var-thermometer


.{wibicons-prefix}thumbs-down:before
  content wibicon-var-thumbs-down


.{wibicons-prefix}thumbs-up:before
  content wibicon-var-thumbs-up


.{wibicons-prefix}toggle-left:before
  content wibicon-var-toggle-left


.{wibicons-prefix}toggle-right:before
  content wibicon-var-toggle-right


.{wibicons-prefix}trash-2:before
  content wibicon-var-trash-2


.{wibicons-prefix}trash:before
  content wibicon-var-trash


.{wibicons-prefix}trending-down:before
  content wibicon-var-trending-down


.{wibicons-prefix}trending-up:before
  content wibicon-var-trending-up


.{wibicons-prefix}triangle:before
  content wibicon-var-triangle


.{wibicons-prefix}tv:before
  content wibicon-var-tv


.{wibicons-prefix}twitter:before
  content wibicon-var-twitter


.{wibicons-prefix}type:before
  content wibicon-var-type


.{wibicons-prefix}umbrella:before
  content wibicon-var-umbrella


.{wibicons-prefix}underline:before
  content wibicon-var-underline


.{wibicons-prefix}unlock:before
  content wibicon-var-unlock


.{wibicons-prefix}upload-cloud:before
  content wibicon-var-upload-cloud


.{wibicons-prefix}upload:before
  content wibicon-var-upload


.{wibicons-prefix}user-check:before
  content wibicon-var-user-check


.{wibicons-prefix}user-minus:before
  content wibicon-var-user-minus


.{wibicons-prefix}user-plus:before
  content wibicon-var-user-plus


.{wibicons-prefix}user-x:before
  content wibicon-var-user-x


.{wibicons-prefix}user:before
  content wibicon-var-user


.{wibicons-prefix}users:before
  content wibicon-var-users


.{wibicons-prefix}video-off:before
  content wibicon-var-video-off


.{wibicons-prefix}video:before
  content wibicon-var-video


.{wibicons-prefix}voicemail:before
  content wibicon-var-voicemail


.{wibicons-prefix}volume-1:before
  content wibicon-var-volume-1


.{wibicons-prefix}volume-2:before
  content wibicon-var-volume-2


.{wibicons-prefix}volume-x:before
  content wibicon-var-volume-x


.{wibicons-prefix}volume:before
  content wibicon-var-volume


.{wibicons-prefix}watch:before
  content wibicon-var-watch


.{wibicons-prefix}wifi-off:before
  content wibicon-var-wifi-off


.{wibicons-prefix}wifi:before
  content wibicon-var-wifi


.{wibicons-prefix}wind:before
  content wibicon-var-wind


.{wibicons-prefix}x-circle:before
  content wibicon-var-x-circle


.{wibicons-prefix}x-square:before
  content wibicon-var-x-square


.{wibicons-prefix}x:before
  content wibicon-var-x


.{wibicons-prefix}zap:before
  content wibicon-var-zap


.{wibicons-prefix}zoom-in:before
  content wibicon-var-zoom-in


.{wibicons-prefix}zoom-out:before
  content wibicon-var-zoom-out

