/*!
Wibicons, v1.0.0
Simply beautiful open source icons , https://feathericons.com
https://twitter.com/tomtang2015  https://twitter.com/feather
MIT License: https://github.com/wibi-theme/wibicons
*/
// Wibicons Variables
// --------------------------

wibicons-fonts-path = "../fonts"
wibicons-fonts-family = "Wibicons"
wibicons-version = "1.0.0"
wibicons-prefix = "wbi-"

wibicon-var-activity = "\e800"
wibicon-var-airplay = "\e801"
wibicon-var-alert-circle = "\e802"
wibicon-var-alert-octagon = "\e803"
wibicon-var-alert-triangle = "\e804"
wibicon-var-align-center = "\e805"
wibicon-var-align-justify = "\e806"
wibicon-var-align-left = "\e807"
wibicon-var-align-right = "\e808"
wibicon-var-anchor = "\e809"
wibicon-var-aperture = "\e80a"
wibicon-var-arrow-down-left = "\e80b"
wibicon-var-arrow-down-right = "\e80c"
wibicon-var-arrow-down = "\e80d"
wibicon-var-arrow-left = "\e80e"
wibicon-var-arrow-right = "\e80f"
wibicon-var-arrow-up-left = "\e810"
wibicon-var-arrow-up-right = "\e811"
wibicon-var-arrow-up = "\e812"
wibicon-var-at-sign = "\e813"
wibicon-var-award = "\e814"
wibicon-var-bar-chart-2 = "\e815"
wibicon-var-bar-chart = "\e816"
wibicon-var-battery-charging = "\e817"
wibicon-var-battery = "\e818"
wibicon-var-bell-off = "\e819"
wibicon-var-bell = "\e81a"
wibicon-var-bluetooth = "\e81b"
wibicon-var-bold = "\e81c"
wibicon-var-book = "\e81d"
wibicon-var-bookmark = "\e81e"
wibicon-var-box = "\e81f"
wibicon-var-briefcase = "\e820"
wibicon-var-calendar = "\e821"
wibicon-var-camera-off = "\e822"
wibicon-var-camera = "\e823"
wibicon-var-cast = "\e824"
wibicon-var-check-circle = "\e825"
wibicon-var-check-square = "\e826"
wibicon-var-check = "\e827"
wibicon-var-chevron-down = "\e828"
wibicon-var-chevron-left = "\e829"
wibicon-var-chevron-right = "\e82a"
wibicon-var-chevron-up = "\e82b"
wibicon-var-chevrons-down = "\e82c"
wibicon-var-chevrons-left = "\e82d"
wibicon-var-chevrons-right = "\e82e"
wibicon-var-chevrons-up = "\e82f"
wibicon-var-chrome = "\e830"
wibicon-var-circle = "\e831"
wibicon-var-clipboard = "\e832"
wibicon-var-clock = "\e833"
wibicon-var-cloud-drizzle = "\e834"
wibicon-var-cloud-lightning = "\e835"
wibicon-var-cloud-off = "\e836"
wibicon-var-cloud-rain = "\e837"
wibicon-var-cloud-snow = "\e838"
wibicon-var-cloud = "\e839"
wibicon-var-codepen = "\e83a"
wibicon-var-command = "\e83b"
wibicon-var-compass = "\e83c"
wibicon-var-copy = "\e83d"
wibicon-var-corner-down-left = "\e83e"
wibicon-var-corner-down-right = "\e83f"
wibicon-var-corner-left-down = "\e840"
wibicon-var-corner-left-up = "\e841"
wibicon-var-corner-right-down = "\e842"
wibicon-var-corner-right-up = "\e843"
wibicon-var-corner-up-left = "\e844"
wibicon-var-corner-up-right = "\e845"
wibicon-var-cpu = "\e846"
wibicon-var-credit-card = "\e847"
wibicon-var-crop = "\e848"
wibicon-var-crosshair = "\e849"
wibicon-var-delete = "\e84a"
wibicon-var-disc = "\e84b"
wibicon-var-download-cloud = "\e84c"
wibicon-var-download = "\e84d"
wibicon-var-droplet = "\e84e"
wibicon-var-edit-2 = "\e84f"
wibicon-var-edit-3 = "\e850"
wibicon-var-edit = "\e851"
wibicon-var-external-link = "\e852"
wibicon-var-eye-off = "\e853"
wibicon-var-eye = "\e854"
wibicon-var-facebook = "\e855"
wibicon-var-fast-forward = "\e856"
wibicon-var-feather = "\e857"
wibicon-var-file-minus = "\e858"
wibicon-var-file-plus = "\e859"
wibicon-var-file-text = "\e85a"
wibicon-var-file = "\e85b"
wibicon-var-film = "\e85c"
wibicon-var-filter = "\e85d"
wibicon-var-flag = "\e85e"
wibicon-var-folder = "\e85f"
wibicon-var-github = "\e860"
wibicon-var-gitlab = "\e861"
wibicon-var-globe = "\e862"
wibicon-var-grid = "\e863"
wibicon-var-hash = "\e864"
wibicon-var-headphones = "\e865"
wibicon-var-heart = "\e866"
wibicon-var-help-circle = "\e867"
wibicon-var-home = "\e868"
wibicon-var-image = "\e869"
wibicon-var-inbox = "\e86a"
wibicon-var-info = "\e86b"
wibicon-var-instagram = "\e86c"
wibicon-var-italic = "\e86d"
wibicon-var-layers = "\e86e"
wibicon-var-layout = "\e86f"
wibicon-var-life-buoy = "\e870"
wibicon-var-link-2 = "\e871"
wibicon-var-link = "\e872"
wibicon-var-list = "\e873"
wibicon-var-loader = "\e874"
wibicon-var-lock = "\e875"
wibicon-var-log-in = "\e876"
wibicon-var-log-out = "\e877"
wibicon-var-mail = "\e878"
wibicon-var-map-pin = "\e879"
wibicon-var-map = "\e87a"
wibicon-var-maximize-2 = "\e87b"
wibicon-var-maximize = "\e87c"
wibicon-var-menu = "\e87d"
wibicon-var-message-circle = "\e87e"
wibicon-var-message-square = "\e87f"
wibicon-var-mic-off = "\e880"
wibicon-var-mic = "\e881"
wibicon-var-minimize-2 = "\e882"
wibicon-var-minimize = "\e883"
wibicon-var-minus-circle = "\e884"
wibicon-var-minus-square = "\e885"
wibicon-var-minus = "\e886"
wibicon-var-monitor = "\e887"
wibicon-var-moon = "\e888"
wibicon-var-more-horizontal = "\e889"
wibicon-var-more-vertical = "\e88a"
wibicon-var-move = "\e88b"
wibicon-var-music = "\e88c"
wibicon-var-navigation-2 = "\e88d"
wibicon-var-navigation = "\e88e"
wibicon-var-octagon = "\e88f"
wibicon-var-package = "\e890"
wibicon-var-paperclip = "\e891"
wibicon-var-pause-circle = "\e892"
wibicon-var-pause = "\e893"
wibicon-var-percent = "\e894"
wibicon-var-phone-call = "\e895"
wibicon-var-phone-forwarded = "\e896"
wibicon-var-phone-incoming = "\e897"
wibicon-var-phone-missed = "\e898"
wibicon-var-phone-off = "\e899"
wibicon-var-phone-outgoing = "\e89a"
wibicon-var-phone = "\e89b"
wibicon-var-pie-chart = "\e89c"
wibicon-var-play-circle = "\e89d"
wibicon-var-play = "\e89e"
wibicon-var-plus-circle = "\e89f"
wibicon-var-plus-square = "\e8a0"
wibicon-var-plus = "\e8a1"
wibicon-var-pocket = "\e8a2"
wibicon-var-power = "\e8a3"
wibicon-var-printer = "\e8a4"
wibicon-var-radio = "\e8a5"
wibicon-var-refresh-ccw = "\e8a6"
wibicon-var-refresh-cw = "\e8a7"
wibicon-var-repeat = "\e8a8"
wibicon-var-rewind = "\e8a9"
wibicon-var-rotate-ccw = "\e8aa"
wibicon-var-rotate-cw = "\e8ab"
wibicon-var-save = "\e8ac"
wibicon-var-scissors = "\e8ad"
wibicon-var-search = "\e8ae"
wibicon-var-server = "\e8af"
wibicon-var-settings = "\e8b0"
wibicon-var-share-2 = "\e8b1"
wibicon-var-share = "\e8b2"
wibicon-var-shield = "\e8b3"
wibicon-var-shopping-cart = "\e8b4"
wibicon-var-shuffle = "\e8b5"
wibicon-var-sidebar = "\e8b6"
wibicon-var-skip-back = "\e8b7"
wibicon-var-skip-forward = "\e8b8"
wibicon-var-slack = "\e8b9"
wibicon-var-slash = "\e8ba"
wibicon-var-sliders = "\e8bb"
wibicon-var-smartphone = "\e8bc"
wibicon-var-speaker = "\e8bd"
wibicon-var-square = "\e8be"
wibicon-var-star = "\e8bf"
wibicon-var-stop-circle = "\e8c0"
wibicon-var-sun = "\e8c1"
wibicon-var-sunrise = "\e8c2"
wibicon-var-sunset = "\e8c3"
wibicon-var-tablet = "\e8c4"
wibicon-var-tag = "\e8c5"
wibicon-var-target = "\e8c6"
wibicon-var-thermometer = "\e8c7"
wibicon-var-thumbs-down = "\e8c8"
wibicon-var-thumbs-up = "\e8c9"
wibicon-var-toggle-left = "\e8ca"
wibicon-var-toggle-right = "\e8cb"
wibicon-var-trash-2 = "\e8cc"
wibicon-var-trash = "\e8cd"
wibicon-var-trending-down = "\e8ce"
wibicon-var-trending-up = "\e8cf"
wibicon-var-triangle = "\e8d0"
wibicon-var-tv = "\e8d1"
wibicon-var-twitter = "\e8d2"
wibicon-var-type = "\e8d3"
wibicon-var-umbrella = "\e8d4"
wibicon-var-underline = "\e8d5"
wibicon-var-unlock = "\e8d6"
wibicon-var-upload-cloud = "\e8d7"
wibicon-var-upload = "\e8d8"
wibicon-var-user-check = "\e8d9"
wibicon-var-user-minus = "\e8da"
wibicon-var-user-plus = "\e8db"
wibicon-var-user-x = "\e8dc"
wibicon-var-user = "\e8dd"
wibicon-var-users = "\e8de"
wibicon-var-video-off = "\e8df"
wibicon-var-video = "\e8e0"
wibicon-var-voicemail = "\e8e1"
wibicon-var-volume-1 = "\e8e2"
wibicon-var-volume-2 = "\e8e3"
wibicon-var-volume-x = "\e8e4"
wibicon-var-volume = "\e8e5"
wibicon-var-watch = "\e8e6"
wibicon-var-wifi-off = "\e8e7"
wibicon-var-wifi = "\e8e8"
wibicon-var-wind = "\e8e9"
wibicon-var-x-circle = "\e8ea"
wibicon-var-x-square = "\e8eb"
wibicon-var-x = "\e8ec"
wibicon-var-zap = "\e8ed"
wibicon-var-zoom-in = "\e8ee"
wibicon-var-zoom-out = "\e8ef"