// Wibicons Font Path
// --------------------------
@import "_wibicons-variables.styl"

@font-face
  font-family wibicons-fonts-family
  src url(wibicons-fonts-path + "/wibicons.eot?v=" + wibicons-version)
  src url(wibicons-fonts-path + "/wibicons.eot?v=" + wibicons-version +"#iefix") format("embedded-opentype"),
      url(wibicons-fonts-path + "/wibicons.ttf?v=" + wibicons-version +"") format("truetype"),
      url(wibicons-fonts-path + "/wibicons.woff2?v=" + wibicons-version +"") format("woff2"),
      url(wibicons-fonts-path + "/wibicons.woff?v=" + wibicons-version +"") format("woff"),
      url(wibicons-fonts-path + "/wibicons.svg?v=wibicons-version#Wibicons") format("svg")
  font-weight normal
  font-style normal


.wbi
  display inline-block
  font-family wibicons-fonts-family
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  text-rendering auto
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

