@import "_variable.styl"
@import "wibicons.styl"

*
  margin 0
  padding 0

a
  text-decoration none
  color color-text
  &:hover
    color color-text

html
  font-size 62.5%
  font-family 'Open Sans', -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif

html, body, #___gatsby
  width 100%
  min-height 100%
  background-color color-bg
  color color-text

body
  height 100%
  overflow hidden
