/*!
  Wibicons, v1.0.0
  Created by blackcater for the Wibi Framework, http://wibi-theme.github.io/
  Simply beautiful open source icons, based on https://feathericons.com
*/
@import "_wibicons-variables.styl"
@import "_wibicons-fonts.styl"
@import "_wibicons-icons.styl"