@import "~styles/main.styl"

// header
.layout
  width 100%
  min-height 100%

  .layout-header
    position fixed
    top 0
    left 0
    right 0
    line-height 50px
    background-color color-bg-light
    transition all .2s ease-in-out-quad
    z-index 1000
    &.hide
      top -50px
    &.transparent
      line-height 120px
      background-color transparent

      .title-section
        color #fff

      .menu-list
        a
          color #fff

    .title-section
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto
      max-width 1200px

      .avatar
        display inline-block
        margin auto 0 auto 30px
        width 24px
        height 24px
        border-radius 12px
        background-size cover
        background-image url("/favicon.png")
        transform scale(1) rotate(0)
        transition transform .8s ease-in-out
        cursor pointer
        &:hover
          transform scale(1.5) rotate(360deg)

      .title
        font-size 2rem
        font-weight 700

      .icon
        margin-right 30px
        cursor pointer

    .menu-list
      display flex
      flex-direction row
      justify-content center
      height 0
      opacity 0
      overflow hidden
      transform: translate(-100%, 0)
      transition all .2s ease-in-out-quad
      &.active
        height auto
        opacity 1
        transform: translate(0, 0)

      .menu-item
        padding 0 35px
        height 80px
        line-height 80px
        font-size 1.2rem
        font-weight bolder
        color color-text-white
        cursor pointer
        a
          padding 4px 10px
          border 2px solid transparent
          transition all .2s ease-in-out
        &:hover
          a
            color color-primary
            border 2px solid color-primary

    +below(600px)
      .menu-list
        display block
        text-align center

        .menu-item
          font-size 2rem
          display block
          border-bottom 0.5px solid color-bg


// content
.layout
  .layout-cover
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    animation-delay 0
    animation-duration .7s
    animation-timing-function cubic-bezier(.825,0,.5,1)
    background-color color-bg-light
    z-index -100

    .fullscreen
      position absolute
      top 0
      left 0
      right 0
      bottom 142px
      transition transform .2s linear
      & > img
        width 100vw
        height calc(100vh - 142px)
        object-fit cover
      &::before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index 1
        background-color rgba(color-bg, 0.3)

    .fullscreen-by
      padding 10px 25px
      position absolute
      right 0
      bottom 142px

      a
        font-style italic
        color #fff
        font-weight 700

    .more-btn
      position absolute
      left 0
      right 0
      bottom 142px
      height 45px
      text-align center
      background-color transparent

      .down
        margin 12.5px
        display inline-block
        width 20px
        height 20px
        cursor pointer


  .layout-content
    margin calc(100vh - 142px) 0 0
    padding-bottom 20px
    background-color color-bg
    color color-text
    box-shadow 0 0 20px color-bg


// footer
.layout
  .layout-footer
    padding 100px 0 50px
    color color-text
    background-color color-bg-light

    .section
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto
      max-width 1200px
      border-bottom 0.5px solid color-bg

      .left
        margin 0 25px 50px

        .slogan
          margin-bottom 20px

          .title
            margin-bottom 40px
            color: color-text-white
            font-size 1.4rem

          p
            font-size 1.2rem

        .social-list
          display flex
          flex-direction row
          flex-wrap wrap

          .social-item
            margin 0 30px 20px 0

      .right
        margin 0 25px
        display flex
        flex-direction row

        .section-list
          margin-right 40px

          .title
            margin-bottom 40px
            color: color-text-white
            font-size 1.4rem

          .link-item
            margin-bottom 20px
            font-size 1.2rem
            white-space nowrap

    +below(600px)
      .section
        display block

    .info
      margin 30px auto 50px
      max-width 1200px
      display flex
      flex-direction row
      justify-content space-between

      .left
        margin 0 25px 10px

      .right
        margin 0 25px 10px

    +below(600px)
      .info
        display block


.layout
  .totop
    display inline-flex
    flex-direction row
    position fixed
    padding 8px
    width 50px
    height 24px
    right 25px
    bottom -100px
    transition all .2s ease-in-out
    border-radius 20px
    box-shadow 0 0 20px color-bg
    background-color color-bg-light
    overflow hidden
    cursor pointer

    i
      flex-basis 24px
      z-index 2

    .progress
      color #fff
      flex-basis 26px
      text-align right
      line-height 24px
      z-index 2

    .bg
      position absolute
      left 0
      right 0
      bottom 0
      height 100%
      background-color color-pink
      transition all .2s ease-in-out

    &.show
      bottom 40px


// animation
@keyframes FloatAnimation {
  from {
    top -6px
  }
  to {
    top 6px
  }
}

// @Deprecated
@keyframes CoverSlideDownAnimation {
  from {
    transform translate(0, -100%)
  }
  to {
    transform translate(0, 0)
  }
}

// @Deprecated
@keyframes CoverSlideUpAnimation {
  from {
    transform translate(0, 0)
  }
  to {
    transform translate(0, -100%)
  }
}
