@import "~styles/main.styl"

// header
.layout
  width 100%
  min-height 100%

  .layout-header
    position fixed
    top 0
    left 0
    right 0
    line-height 50px
    background-color color-bg-light
    transition all .2s ease-in-out-quad
    z-index 1000
    &.transparent
      line-height 120px
      background-color transparent

      .title-section
        color #fff

    .title-section
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto
      max-width 1200px

      .avatar
        display inline-block
        margin auto 0 auto 25px
        width 24px
        height 24px
        border-radius 18px

      .title
        font-size 2rem
        font-weight 700

      .icon
        margin-right 25px
        cursor pointer

    .menu-list
      display flex
      flex-direction row
      justify-content center
      height 0
      opacity 0
      overflow hidden
      transform: translate(-100%, 0)
      transition all .2s ease-in-out-quad
      &.active
        height auto
        opacity 1
        transform: translate(0, 0)

      .menu-item
        padding 0 35px
        height 80px
        line-height 80px
        font-size 1.2rem
        color color-text-light
        cursor pointer
        &:hover
          color color-primary

    +below(600px)
      .menu-list
        display block
        text-align center

        .menu-item
          font-size 2rem
          display block
          border-bottom 0.5px solid color-bg


// content
.layout
  .layout-content
    min-height 100vh

    .section-cover
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      animation-delay 0
      animation-duration .7s
      animation-timing-function cubic-bezier(.825,0,.5,1)
      background-color color-bg-light

      .fullscreen
        position absolute
        top 0
        left 0
        right 0
        bottom 45px
        &::before
          content ''
          position absolute
          top 0
          right 0
          bottom 0
          left 0
          background-color rgba(color-bg, 0.3)

      .fullscreen-by
        padding 10px 25px
        position absolute
        right 0
        bottom 45px

        a
          font-style italic
          color #fff
          font-weight 700

      .more-btn
        position absolute
        left 0
        right 0
        bottom 0
        height 45px
        line-height 45px
        text-align center

        .wbi
          position relative
          animation FloatAnimation .8s infinite alternate

    .section-content
      margin 70px 0 20px


// footer
.layout
  .layout-footer
    padding 100px 0 50px
    background-color color-bg-light

    .section
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto
      max-width 1200px
      border-bottom 0.5px solid color-bg

      .left
        margin 0 25px 50px

        .slogan
          margin-bottom 20px

          .title
            margin-bottom 40px
            color: color-text-light
            font-size 1.4rem

          p
            font-size 1.2rem

        .social-list
          display flex
          flex-direction row
          flex-wrap wrap

          .social-item
            margin 0 30px 20px 0

      .right
        margin 0 25px
        display flex
        flex-direction row

        .section-list
          margin-right 40px

          .title
            margin-bottom 40px
            color: color-text-light
            font-size 1.4rem

          .link-item
            margin-bottom 20px
            font-size 1.2rem
            white-space nowrap

    +below(600px)
      .section
        display block

    .info
      margin 30px 25px 0
      display flex
      flex-direction row
      justify-content space-between

      .right
        margin-bottom 20px

    +below(600px)
      .info
        display block


// animation
@keyframes FloatAnimation {
  from {
    top -6px
  }
  to {
    top 6px
  }
}

@keyframes CoverSlideDownAnimation {
  from {
    transform translate(0, -100%)
  }
  to {
    transform translate(0, 0)
  }
}

@keyframes CoverSlideUpAnimation {
  from {
    transform translate(0, 0)
  }
  to {
    transform translate(0, -100%)
  }
}
