name: Deploy website

on:
  push:
    # 只有推送到 main 分支才会触发
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14"
      - name: Generate website
        run: |-
          npm install
          npm run build
      - name: Deploy website
        uses: cpina/github-action-push-to-another-repository@master
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: public
          destination-github-username: blackcater
          destination-repository-name: blackcater.github.io
          user-email: blackcater@blackcater.dev
